<% if (typeof currentSong !== 'undefined') { %>
<h2 class="title"><%= currentSong.title %></h2>
<div class="artist <%if (!currentSong.artist){%>disabled<%}%>"><em><%= currentSong.artist %></em></div>
<div class="key <%if (!currentSong.key){%>disabled<%}%>">in the key of <%= currentSong.key %></div>
<div class="chords <%if (!currentSong.chords){%>disabled<%}%>"><%= currentSong.chords %></div>
<div class="instruments <%if (!currentSong.instruments){%>disabled<%}%>">Instrumentation: <%= currentSong.instruments %></div>
<div class="capo <%if (!currentSong.capo){%>disabled<%}%>">Capo on <%= currentSong.capo %></div>
<div class="tuning <%if (!currentSong.tuning){%>disabled<%}%>">Tuning: <%= currentSong.tuning %></div>
<div class="readiness <%if (!currentSong.readiness){%>disabled<%}%>">Readiness: <%= currentSong.readiness %></div>
<div class="like <%if (!currentSong.like){%>disabled<%}%>">How much we like it: <%= currentSong.like %></div>
<div class="categories <%if (!currentSong.categories){%>disabled<%}%>">Categories: <%= currentSong.categories %></div>
<div class="lyrics <%if (!currentSong.lyrics){%>disabled<%}%>"><%= currentSong.lyrics %></div>
<% } %>